{% extends 'games/game.html' %}

{% block details %}

<h1>Edit review for {{review.game.name}}</h1>

<form class='form-group' method="POST">
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field(class_='form-control')}}
            {% for error in field.errors %}
                {{error}}
            {% endfor %}
        </p>
    {% endfor %}
    <button type='submit' class='btn btn-secondary'>Edit</button>
    <a href='/reviews/{{review.id}}' class='btn btn-light'>Cancel</a>
</form>
<button class='btn btn-dark' data-toggle="modal" data-target="#reviewModal">Delete Review</button>

<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reviewModalLabel">Confirm Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete your review?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="deletereview btn btn-dark" id={{review.id}}>Delete Review</button>
            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}