{% extends 'games/game.html' %}

{% block details %}

    <p>Released {{game_api_data['released']}}</p>
    <p><a href='{{game_api_data["website"]}}' target='_blank'>{{game_api_data["website"]}}</a></p>
    {% if game_api_data['esrb_rating'] %}
        <p>ESRB Rating: {{game_api_data['esrb_rating'].name}}</p>
    {% endif %}
    <p>Available on: 
        {% for platform in game_api_data['platforms'] %}
            <span>{{platform.platform.name}}</span>
        {% endfor %}
    </p>
    <p>{{game_api_data['description'] | safe}}</p>


{% endblock %}