{% extends 'games/game.html' %}

{% block details %}

    <h1>{{question.title}}</h1>
    <p>Posted by 
        {% if question.username %}
            <a href='/users/{{question.username}}'>{{question.username}}</a><br>
        {% else %}
            <span>Deleted User</span><br>
        {% endif %}
        <span>{{question.timestamp}}</span>
    </p>

    <div class='quescont'>
        <p>{{question.text}}</p>
        {% if session['username'] == question.username %}
            <a href='/questions/{{question.id}}/edit' class='btn btn-sm btn-secondary'>Edit Question</a>
        {% endif %}
    </div>

    <div id='answerlist'>
        {% for answer in answers %}
            <div class='row qans' id='{{answer.id}}'>
                <div class='col-sm-8'>
                    {% if answer.username %}
                        <a href='/users/{{answer.username}}'>{{answer.username}}</a><br>
                    {% else %}
                        <span>Deleted User</span><br>
                    {% endif %}
                    <span>{{answer.timestamp}}</span>
                </div>
                <div class='col-sm-4'>
                    <p>+ <span class='tally'>{{answer.upvotes | length}}  </span> 
                    {% if answer.username and ('username' in session) and 
                                    (session['username'] != answer.username) and 
                                    (answer.id not in upvotes) %}
                        <button class='likeAnswer btn btn-sm btn-outline-success'>
                            <img src='/static/images/like.png' alt='Like' class='likeimg'>
                        </button>
                    {% endif %}
                    {% if answer.username and ('username' in session) and 
                                    (session['username'] != answer.username) and 
                                    (answer.id in upvotes) %}
                        <button class='unlikeAnswer btn btn-sm btn-outline-danger'>
                            <img src='/static/images/unlike.png' alt='Dislike' class='likeimg'>
                        </button>
                    {% endif %}
                    </p>
                </div>
                <div class='col-12'><br><p class='answer'>{{answer.text}}</p>
                {% if session['username'] == answer.username %}
                    <button class='editAnswer btn btn-sm btn-secondary'>Edit Answer</button>
                {% endif %}
                </div> 
            </div>

            <div class="modal fade" id="answerModal{{answer.id}}" tabindex="-1" role="dialog" aria-labelledby="answerModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="answerModalLabel">Confirm Delete</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to delete your answer?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="deleteanswer btn btn-dark" id='ans{{answer.id}}' data-dismiss="modal">Delete Answer</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
            </div>

        {% endfor %}
    </div>

    {% if 'username' in session %}
        <form class='form-group' id='q_answer'>
            <input id='question_id' name='question_id' type='hidden' value='{{question.id}}'>
            <label for='answer'>Answer Question</label>
            <textarea name='answer' id='answer' class='form-control'></textarea>
            <button type='submit' class='btn btn-secondary'>Answer</button>
        </form>
    {% endif %}

{% endblock %}