{% extends 'games/game.html' %}

{% block details %}

    <h2>User Reviews</h2>
    <div class='row'>
        <div class='col-12 col-lg-10'>
            <h3>Average User Rating: {{average}}</h3>
        </div>
        <div class='col-12 col-lg-2'>
            {% if 'username' in session %}
                <a href='/games/{{game.id}}/review' class='btn btn-secondary btn-sm'>Add A Review</a>
            {% endif %}
        </div>
    </div>

    <table class='table'>
        <thead>
            <tr>
                <th>Rating</th>
                <th>Review Title</th>
                <th>Review Author</th>
                <th>Review Submitted</th>
                <th>Helpful</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}        
                <tr>
                    <td>{{review.rating}}</td>
                    <td><a href='/reviews/{{review.id}}'>{{review.title}}</a></td>
                        {% if review.username %}
                            <td><a href='/users/{{review.username}}'>{{review.username}}</a></td>
                        {% else %}
                            <td>Deleted User</td>
                        {% endif %}
                    <td>{{review.timestamp}}</td>
                    <td>{{review.upvotes | length}} user(s) found this review helpful</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}




