{% extends 'base.html' %}

{% block title %}Delete {{user.username}}{% endblock %}

{% block content %}

<p>Please enter your password to confirm account delete</p>

<form class='form-group' method="POST">
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field(class_='form-control')}}
            {% for error in field.errors %}
                {{error}}
            {% endfor %}
        </p>
    {% endfor %}
    <button type='submit' class='btn btn-dark'>Delete</button>
    <a href='/users/{{user.username}}/edit' class='btn btn-light'>Cancel</a>
</form>

{% endblock %}