{% extends 'base.html' %}

{% block title %}Edit {{user.username}}{% endblock %}

{% block content %}

<form class='form-group' method="POST">
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field(class_='form-control')}}
            {% for error in field.errors %}
                {{error}}
            {% endfor %}
        </p>
    {% endfor %}
    <button type='submit' class='btn btn-success'>Submit</button>
    <a href='/users/{{user.username}}'>Cancel</a>
</form>
<form method='POST' action='/users/{{user.username}}/delete'><button id='user_delete'>Delete Profile</button></form>

{% endblock %}